# Ignore EVERYTHING by default
*

# Except these directories
!src/
!configs/
!data/

# Except these specific files
!requirements.txt
!scalability.md

# Allow necessary files inside tracked directories
!src/*.py
!configs/*.py
!data/dataset coding challenge-20250529T234530Z-1-001.zip

# Prevent ignoring .gitignore itself
!.gitignore